.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/home-page.jpg);
  height: 100vh;
  background-size: cover;
}

.width {
  width: 100%;
}

.color {
  background-color: #221e1e;
}
